<div ng-controller="MainController" class="jumbotron">
  <h1>Hello!</h1>
  <p class="lead">
    <img src="images/me.png" alt="I'm Yeoman"><br>
    I am Artem Grigoryants. This project is an evaluation task.
  </p>
  <p><a class="btn btn-lg btn-success" target="_blank" href="https://github.com/art-grig/WalletHubTest">GitHub<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<h4 class="feature-heading">Hold 'shift' and click on headers for implementing sorting by multiple fields</h4>
<div class="grid" ui-grid="gridOptionsComplex" ui-grid-edit ui-grid-resize-columns></div>
<div class="footer" >
  <div class="container">
    <p><span class="glyphicon glyphicon-heart"></span> special for WalletHub</p>
  </div>
</div>
